.page-header
{
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 962px;
    position: relative;
}

.page-header-overlay {
    background-color: #1f356b;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 771px) {
  .page-header-overlay2 {
    max-width: 1100px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    }
}

@media only screen and (min-width: 771px) {
  .page-header {
    max-width: none;
    margin: 0 auto;
    padding: 0 30px;
  }
}
.page-header-container{
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 57px;
}
.page-header-container .cmspages a{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 75px;
    margin-right: 40px;

}
.cmspages{
    max-width: 740px;
    width: 100%;
    position: absolute;
    margin-left: 260px;
}
.page-header-container:after{
    content: "";
    display: table;
    clear: both;
}

#menu.active{
    width: 79px;
    background-image: url('../images/hamburger-active.svg');
    background-position: center center;
    background-color: #ffffff;
    height: 71px;
}
#menu:not(.active) {
    margin-right: 21.5px;
    margin-top: 21px;
}
#menu{
    background-image: url('../images/hamburger.svg');
    width: 36px;
    height: 28px;
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
}
#menu-pop{
    background-color: #ffffff;
    position: absolute;
    max-width: none;
    width: 100%;
    left: 0;
    z-index: 2;
    max-height: 835px;
    padding: 50px;
    display: none;
    height: 100%;
}
.menu-pop-inner{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.logo{
    max-width: initial;
    width: auto;
    padding-left:0;
    min-height: auto;
    float: left;
}

#header-search{
    width: 100%;
    position: static;
}
#search{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 75px;
    height: 70px;
    background-color: transparent;
    border: 2px solid #ffffff;
}

#header-search .input-box{
    max-width: 732px;
    margin: 0 auto;
}


#search_mini_form .search-button{
    background: url(../images/search_icon.svg);
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    margin-top: 24px;
    margin-right: 13px;

}
#search_mini_form .search-button:before{
    background-image: none;
    height: 21px;
    width: 21px;
}


*::-webkit-input-placeholder {
    color: #ffffff;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #ffffff;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #ffffff;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}

#header-msg h1{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    position: relative;
    text-transform: none;
    margin-top: 100px;
    margin-bottom: 82px;
}
#header-msg h2{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    position: relative;
    text-transform: none;
    margin-bottom: 89px;
}

.footer-container {
    width: 100%;

  /* Flex specific */
    display: -webkit-flex;
    display: flex; /* or inline-flex */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding: 0;
    max-width: none;
}

#footer-left {
    background-color: #1d2f5a;
    width: 40%;
}

#footer-right {
    background-color: #5ea3d8;
    width: 60%;
    height: 705px;
}

#footer-left {
    margin-top: 97px;
}
.footer{
    max-height: none;
    max-width: none;
    padding: 0;
}

#footer-left .block-title{
    border-top: none;
}
#footer-left .block-title strong{
    font-family: "Source Sans Pro";
    color: #5ea3d8;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    text-transform: none;
}
#footer-right .footer address{
    border-top: none;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 68px;
}

#footer-left .links a{
    font-family: "Source Sans Pro";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
#footer-left .links {
    float: right;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#newsletter{
    background-color: transparent;
    width: 350px;
    height: 70px;
    border: 3px solid #f2f2f2;
}
.block-subscribe .block-title{
    display: none;
}
.footer .block-subscribe .input-box {
    width: 100%;
}
.footer .block-subscribe .actions .button {
    background-color: transparent;
    width: 255px;
    height: 70px;
    border: 3px solid #ffffff;
    text-transform: none;

    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.footer .block-subscribe .input-text{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    line-height: 75px;
}
.footer-wraper{
    margin-top: 61px;
    margin-right: 96px;
}
#footer-left .links {
    display: block;
    width: 200px;
}
.footer .block-subscribe {
    float: none;
    width: auto;
}

.footer .block-subscribe .input-box {
    width: auto;
    margin-left: 95px;
    margin-right:30px;
}
#footer-contacts{
    margin-left: 95px;
    margin-top: 96px;

}
#footer-contacts h1{
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    font-family: "Source Sans Pro";
    color: #ffffff;
    text-transform: none;
}

#footer-contacts h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Source Sans Pro";
    color: #ffffff;
    text-transform: none;
    margin-bottom: 70px;
}

.footer .block-subscribe .block-content{
    padding: 0;
    margin:0;
}
#social-link{
    max-height: 50px;
    height: 100%;
}
.link-youtube{
    background: url(../images/you_tube.svg);
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center center;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
    margin-left: 95px;
    margin-right: 10px;
}
.link-facebook{
    background: url(../images/facebook.svg);
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center center;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
    margin-right: 10px;
}
.link-twiter{
    background: url(../images/twiter.svg);
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center center;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
}
.search-autocomplete{
    display: none;
}
.menu-pop-inner #search{
    color: #5ea3d8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 75px;
    height: 70px;
    background-color: transparent;
    border: 2px solid #5ea3d8;
}
.menu-pop-inner #search_mini_form .search-button{
    background: url(../images/pop_search.svg);
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    margin-top: 24px;
    margin-right: 13px;
}
.menu-pop-inner #search_mini_form .search-button:before{
    background-image: none;
    height: 21px;
    width: 21px;
}
.menu-pop-inner .input-box{
    max-width: 732px;
    margin: 0 0;
    float: right;
    width: 100%;
}
.menu-pop-inner .text1 h1{
    max-width: 270px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: #78b1dd;
    font-weight: 700;
}
.menu-pop-inner .text1 h2{
    color: #777777;
    font-weight: 400;
    text-transform: none;
    max-width: 270px;
    width: 100%;
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 26px;
}
.menu-pop-inner .text1{
    float: left;
}
.custom-menu{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    max-height: 630px;
    height: 100%;
    margin-top: 64px;
}
.nav-primary li.level0 > a{
    text-transform: none;
    font-family: "Source Sans Pro";
    color: #5ea3d8;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;

}
.nav-primary li.level0 ul{
    display: block !important;
    position: relative;
    margin-right: 91px;
    top: 0;
    background: none;
    border: none;
    padding-left: 0;
}

.nav-primary a.level0{
    padding: 0;
}
.nav-primary li{
    vertical-align: top;
}
.nav-primary li.level1 a{
    border-bottom: none;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Source Sans Pro";
}
